<template>
    <footer>
      <p class="footer-text">&copy; Szymon Sobik 2020</p>
    </footer>
</template>

<style lang="scss" scoped>
  footer {
    margin: 40px 0 20px 0;
  }

  .footer-text {
    text-align: right;
    font-size: 11px;
  }
</style>