<template>
    <p>
        <nuxt-link to="/">Blog Autentika</nuxt-link>
    </p>
</template>

<style lang="scss" scoped>
    p {
        margin: 40px 0;
        font-size: 30px;
    }
</style>