<template>
  <div class="container">
    <Header />
    <nuxt />
    <Footer />
  </div>
</template>

<script>
import Header from '~/components/header.vue'
import Footer from '~/components/footer.vue'

export default {
  components: {
    Header,
    Footer
  }
}
</script>

<style lang="scss">
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

a {
  color: #000;
}

h2, p, ul {
  margin: .75em 0;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

table td, table th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

table th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

table tr:first-child > td {
  border-top: 0;
}

img {
  display: flex;
  width: auto;
  max-width: 100%;
  height: auto;
}

</style>
