<template>
    <div>
        <figure class="post-img">
            <img
                :src="`${post._embedded['wp:featuredmedia'][0].media_details.sizes.full.source_url}`"
                :alt="`${post.title.rendered}`">
        </figure>
        <h1>{{ post.title.rendered }}</h1>
        <p>{{ $moment(post.date).format('DD-MM-YYYY H:m:s') }}</p>
        <div v-html="post.content.rendered"></div>
        <p class="back-link">
            <nuxt-link to="/">Wróć do listy artykułów</nuxt-link>
        </p>
    </div>
</template>

<script>
import axios from 'axios'

export default {
  async asyncData ({ params }) {
    const { data } = await axios.get(`https://wordpress.autentika.pl/wp-json/wp/v2/posts?_embed&slug=${params.slug}`);
    return { post: data[0] };
  }
}
</script>

<style lang="scss" scoped>

.post-img {
  margin: 20px 0;
}

.back-link {
  text-align: right;
}

img {
  display: flex;
  width: auto;
  max-width: 100%;
  height: auto;
}

</style>