<template>
  <div class="post-list">
    <article v-for="d in posts" :key="d.id">
      <h1>{{ d.title.rendered }}</h1>
      <figure class="post-img">
        <img
          :src="`${d._embedded['wp:featuredmedia'][0].media_details.sizes.medium_large.source_url}`"
          :alt="`${d.title.rendered}`">
      </figure>
      <div v-html="d.excerpt.rendered"></div>
      <p class="see-more">
        <nuxt-link :to="{name: `slug`, params: { slug: d.slug}}">Czytaj więcej</nuxt-link>
      </p>
    </article>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  async asyncData ({ params }) {
    const { data } = await axios.get(`https://wordpress.autentika.pl/wp-json/wp/v2/posts?_embed`);
    return { posts: data };
  }
}
</script>

<style lang="scss" scoped>

.post-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px 20px;

  @media (min-width: 576px) {
    grid-template-columns: 1fr 1fr;
  }
  
  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.post-img {
  margin: 20px 0;
}

.see-more {
  margin: 10px 0 0 0;
  text-align: right;
}

</style>